html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #303636;
}

.clock {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid #51ACAE;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

:is(#seconds-hand, #minutes-hand, #hours-hand) {
    position: absolute;
    bottom: 150px;
    transform-origin: 50% calc(100%);
    border-radius: 5px;
}
#seconds-hand {
    height: 120px;
    background-color: #AE5351;
    width: 2px;
    left: 149px;
}
#minutes-hand {
    height: 100px;
    background-color: #ababab;
    width: 4px;
    left: 148px;
}
#hours-hand {
    height: 80px;
    background-color: #707070;
    width: 5px;
    left: 147.5px;
}
.markings {
    width: 100%;
    height: 95%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.marking {
    width: 2px;
    height: 100%;
    background-color: #51ACAE;
    position: absolute;
    background: linear-gradient(to bottom, #3c7f80 14px, transparent 14px,transparent calc(100% - 14px), #3c7f80 calc(100% - 14px));
}
.marking:nth-child(1) {
    width: 4px;
}
.marking:nth-child(2) {
    transform: rotate(30deg);
}
.marking:nth-child(3) {
    transform: rotate(60deg);
}
.marking:nth-child(4) {
    transform: rotate(90deg);
    width: 4px;
}
.marking:nth-child(5) {
    transform: rotate(120deg);
}
.marking:nth-child(6) {
    transform: rotate(150deg);
}